<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Get-data-from-Pinball-Map-API" data-toc-modified-id="Get-data-from-Pinball-Map-API-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Get data from Pinball Map API</a></span></li><li><span><a href="#Define-scraping-functions" data-toc-modified-id="Define-scraping-functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Define scraping functions</a></span></li><li><span><a href="#Test-scraping-functions" data-toc-modified-id="Test-scraping-functions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Test scraping functions</a></span></li><li><span><a href="#Scrape-data-for-all-pinball-machines" data-toc-modified-id="Scrape-data-for-all-pinball-machines-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Scrape data for all pinball machines</a></span></li></ul></div>

# Introduction

This is a project about pinball machines, inspired by [Pinball Map](https://pinballmap.com/). In this notebook I fetch data about pinball machines from the Pinball Map API, then join it with data scraped from the [Internet Pinball Database](https://www.ipdb.org/search.pl). Once I have the data how I want it, I'll move it into Tableau to create a dashboard.

There's no real research question here; the purpose of this project is to practice my web scraping, regex, and Tableau skills.

# Get data from Pinball Map API

First I need to call up the [Pinball Map API](https://pinballmap.com/api/v1/docs) and fetch data on all the machines in its database.

In [1]:
# Import packages
import re
import requests
import pandas as pd
from bs4 import BeautifulSoup
import time

# Define function to call API
def api_call(url, field):
    '''Fetches data from API into DataFrame
       Dependencies: requests, pandas'''
    
    response = requests.get(url)
    df = pd.DataFrame(response.json()[field])
    return df

In [2]:
# Get data on machines
machines = api_call('https://pinballmap.com/api/v1/machines.json', 'machines')
machines.head()

,id,name,is_active,created_at,updated_at,ipdb_link,year,manufacturer,machine_group_id,ipdb_id,opdb_id
0,2694,Rob Zombie's Spookshow International (LE),False,2016-08-05T17:52:19.366-07:00,2018-07-17T11:31:02.934-07:00,https://www.ipdb.org/machine.cgi?id=6417,2016,Spooky Pinball,58.0,6417.0,G5pp2-MBRK4
1,676,Pirates of the Caribbean,False,None,2018-07-16T09:00:50.066-07:00,http://ipdb.org/machine.cgi?id=5163,2006,Stern,NaN,5163.0,GR7ZX-MQ23b
2,1968,Challenger,False,2014-02-26T11:22:21.790-08:00,2018-07-16T09:00:41.586-07:00,http://ipdb.org/machine.cgi?id=483,1971,Gottlieb,NaN,483.0,G50L9-MDxXD
3,1679,City Slicker,False,2013-06-28T20:55:47.875-07:00,2018-07-16T09:00:41.673-07:00,http://ipdb.org/machine.cgi?id=527,1987,Bally,NaN,527.0,GrEVb-MLOxJ
4,727,Flash Gordon,False,None,2018-07-16T09:00:41.689-07:00,http://ipdb.org/machine.cgi?id=874,1980,Bally,NaN,874.0,G5728-MDbjD

Below I'm going to scrape webpages associated with each machine, so it's important that each machine have an `ipdb_link`. Let's see how many don't:

In [3]:
len(machines[machines['ipdb_link'] == ''])

63

That's not too bad. I can drop the rows with no link.

In [4]:
# Select rows with valid links
machines = machines[machines['ipdb_link'] != '']

In [5]:
# Check data types and missing values
machines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1092 entries, 0 to 1154
Data columns (total 11 columns):
id                  1092 non-null int64
name                1092 non-null object
is_active           811 non-null object
created_at          690 non-null object
updated_at          1092 non-null object
ipdb_link           1092 non-null object
year                1092 non-null int64
manufacturer        1092 non-null object
machine_group_id    98 non-null float64
ipdb_id             1088 non-null float64
opdb_id             1015 non-null object
dtypes: float64(2), int64(2), object(7)
memory usage: 102.4+ KB

I see that there are four machines that don't have an `ipdb_id` value, but they do have a link. This worries me, since the `ipdb_id` forms part of the `ipdb_link`. Let's inspect these oddballs in detail:

In [6]:
# Inspect rows where `ipdb_id` is null
machines[machines['ipdb_id'].isna()]

,id,name,is_active,created_at,updated_at,ipdb_link,year,manufacturer,machine_group_id,ipdb_id,opdb_id
1052,1399,Silver Bullet,False,2012-11-02T12:50:00.901-07:00,2019-04-07T12:57:10.877-07:00,http://pinballartist.com/newsroom/fine-art-pri...,2012,Custom,NaN,NaN,
1054,1987,Galaxy Virtual Pinball,False,2014-02-26T12:42:10.354-08:00,2019-04-07T12:59:00.453-07:00,http://www.virtualpinballmachinesrus.com/produ...,2013,VP Cabs,NaN,NaN,
1057,1923,Luther's Vendetta,False,2014-01-22T11:17:55.998-08:00,2019-04-07T13:00:31.371-07:00,http://www.bholderman.com/luthers-vendetta,2009,Custom,NaN,NaN,
1119,1345,Visible Pinball (see-through Surf Champ),False,2012-08-22T17:33:35.464-07:00,2019-04-07T20:30:40.644-07:00,http://pinballdonutgirl.com/tag/visible-pinbal...,2012,Custom,NaN,NaN,

This is not good! IPDB.org pages follow a semi-standardized format, making them fairly easy to scrape. Those links are not to IPDB.org, so my scraping functions won't work on them. I'll drop these four rows, too.

In [7]:
# Drop NaNs and check results
machines.dropna(subset=['ipdb_id'], inplace=True)
machines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1088 entries, 0 to 1154
Data columns (total 11 columns):
id                  1088 non-null int64
name                1088 non-null object
is_active           807 non-null object
created_at          686 non-null object
updated_at          1088 non-null object
ipdb_link           1088 non-null object
year                1088 non-null int64
manufacturer        1088 non-null object
machine_group_id    98 non-null float64
ipdb_id             1088 non-null float64
opdb_id             1011 non-null object
dtypes: float64(2), int64(2), object(7)
memory usage: 102.0+ KB

I happen to know (because I've been debugging my scraping functions for some time) that there's one URL that's actually missing the most important part: the IPDB ID at the very end. I'm going to find it and fix it so that page can be scraped.

In [8]:
# Find rows where URL is missing IPDB ID number
machines[machines['ipdb_link'] == 'https://www.ipdb.org/machine.cgi?id=']

,id,name,is_active,created_at,updated_at,ipdb_link,year,manufacturer,machine_group_id,ipdb_id,opdb_id
970,2833,Attack From Mars (Remake) (Special Edition),False,2017-06-21T07:36:57.715-07:00,2018-07-30T12:57:26.769-07:00,https://www.ipdb.org/machine.cgi?id=,2017,Chicago Gaming,62.0,6384.0,G4do5-MjBp2

In [9]:
# Fix the faulty URL
machines.loc[970, 'ipdb_link'] = 'https://www.ipdb.org/machine.cgi?id=6384'

I'm not really bothered by the other fields with missing values, since I don't really expect to use them in my visualization. I'll have another opportunity to resolve them once I've joined this DataFrame with the additional data I'll scrape from IPDB.org.

# Define scraping functions

For now, I'm just writing some functions to scrape the data I want from the Internet Pinball Database. Later, I may come along and refactor these functions as methods of a class.

In [14]:
# Define functions to scrape desired data from pages

# Define a function to scrape a page into a bs4 object
def get_data_table(url):
    '''Returns main table data from web page as type bs4.element.ResultSet.
       Dependencies: bs4.BeautifulSoup, requests'''
    
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page.content, 'html.parser')
    table = soup.find('table')
    table_contents = (table.nextSibling.nextSibling.nextSibling.nextSibling
                      .nextSibling.nextSibling.nextSibling.nextSibling
                      .nextSibling)
    table_data = table_contents.findAll('tr')
    return table_data
       
# Define a function to extract the IPD ID from a url
def get_id(url):
    '''Extracts machine's IPD ID from url.'''
    idx = int(re.findall(r'=(\d+)', str(url))[0])
    return idx

# Define a function to extract the star rating
def get_rating(table_data):
    '''Returns game rating from table data.
       Dependencies: bs4.BeautifulSoup, re'''
    
    if 'Average Fun Rating' in str(table_data):
        if (('No ratings on file' in str(table_data)) 
            or ('Needs More Ratings!' in str(table_data))):
            value = None
        else: 
            value = int(re.findall(r'/(\d+)stars.png', str(table_data))[0])
    else:
        value = None
        
    return value

# Define a function to extract number of flippers
def get_flippers(table_data):
    '''Returns number of flippers from table data.
       Dependencies: bs4.BeautifulSoup, re'''
    
    if 'Flippers</a> (' in str(table_data):      
        flippers = int(re.findall(r'Flippers</a>\s\((\d+)', str(table_data))[0])
        return flippers
    else:
        return None

# Define a function to extract number of units manufactured
def get_units(table_data):
    '''Returns number of units manufactured from table data.
       Dependencies: bs4.BeautifulSoup, re'''
       
    if 'Production:' in str(table_data):
        if 'Never Produced' in str(table_data):
            units = 0
        else:
            units = int(re.findall(r'"baseline">(\d+,?\d*)\sunit', 
                               str(table_data))[0].replace(',', ''))
            return units
    else:
        return None

# Define a function to scrape all the desired data into a DataFrame
def scrape_urls(urls):
    '''Pulls desired data into a DataFrame
       Dependencies: bs4.BeautifulSoup, time, requests, re, pandas'''
    
    # Initialize lists
    ids = []
    ratings = []
    flippers = []
    units = []
        
    # Scrape each page and collect data
    try:
        for url in urls:
            if len(url) > 0:
                table_data = get_data_table(url)
                ids.append(get_id(url))
                ratings.append(get_rating(table_data))
                flippers.append(get_flippers(table_data))
                units.append(get_units(table_data))
                
                # Pause to avoid jamming server
                time.sleep(0.1)
            else:
                continue
    
    # On error, print the url of the offending page
    except (ValueError, KeyError, TypeError, IndexError):
        print('The problem child is IDP ID #', get_id(url))
    
    # Concatenate the results into a DataFrame
    results = pd.concat([pd.Series(ids, name='ipd_id'), 
                         pd.Series(ratings,  name='rating'),
                         pd.Series(flippers, name='flippers'),
                         pd.Series(units, name='units')], axis=1)
    return results

The last function wraps the previous ones and returns a DataFrame containing the ID, rating, dates of manufacture, number of flippers, and number of units manufactured for each machine represented in the API response above. Note that I included a tiny pause after scraping each page to avoid overloading the server.

# Test scraping functions

Before scraping all 1153 urls that I need, let's do a quick test to make sure things are working as expected.

In [5]:
# Get a group of urls to scrape
sample_urls = list(machines['ipdb_link'][30:40])
sample_urls

['http://ipdb.org/machine.cgi?id=3667',
 'http://ipdb.org/machine.cgi?id=4692',
 'http://www.ipdb.org/machine.cgi?id=1622',
 'http://ipdb.org/machine.cgi?id=4358',
 'http://ipdb.org/machine.cgi?id=1871',
 'http://ipdb.org/machine.cgi?id=828',
 'http://ipdb.org/machine.cgi?id=2506',
 'http://ipdb.org/machine.cgi?id=4540',
 'http://ipdb.org/machine.cgi?id=2165',
 'http://www.ipdb.org/machine.cgi?id=2355']

In [6]:
# Scrape selected urls
sample_df = scrape_urls(sample_urls)
sample_df.head(10)

   ipd_id  rating  flippers    units
0    3667     NaN       2.0    825.0
1    4692     NaN       2.0    470.0
2    1622     7.0       2.0   4315.0
3    4358     8.0       2.0   1369.0
4    1871     7.0       2.0      NaN
5     828     8.0       2.0   8045.0
6    2506     8.0       2.0   1600.0
7    4540     NaN       NaN      NaN
8    2165     7.0       NaN  10320.0
9    2355     7.0       2.0  16842.0

There are a lot of NaNs, but I can resolve those along with the rest of the missing values later. For now, this looks good.

# Scrape data for all pinball machines

Now I'm ready to scrape all the machine metadata I need. To help me gauge progress, I'm going to scrape the URLs 100 at a time. Based on past experiments, I expect each group of 100 to take about 6 minutes, and the whole scrape to take around an hour.

In [12]:
urls = list(machines['ipdb_link'])
n = 100
chunks = [urls[i * n:(i + 1) * n] for i in range((len(urls) + n - 1) // n )]

In [16]:
dfs = []
counter = 0
for chunk in chunks:
    scrape_data = scrape_urls(chunk)
    dfs.append(scrape_data)
    counter += 1
    print('Chunk {} complete'.format(counter))

Chunk 1 complete
Chunk 2 complete
Chunk 3 complete
Chunk 4 complete
Chunk 5 complete
Chunk 6 complete
Chunk 7 complete
Chunk 8 complete
Chunk 9 complete
Chunk 10 complete
Chunk 11 complete

In [17]:
all_scrape_data = pd.concat(dfs, axis=0)
len(all_scrape_data)

1088

In [18]:
all_scrape_data.head()

   ipd_id  rating  flippers    units
0    6417     NaN       3.0     50.0
1    5163     8.0       NaN      NaN
2     483     NaN       NaN    110.0
3     527     NaN       5.0    300.0
4     874     8.0       3.0  10000.0

In [20]:
machines['ipd_id'] = machines['ipdb_id'].astype('int64')
machines.head()

,id,name,is_active,created_at,updated_at,ipdb_link,year,manufacturer,machine_group_id,ipdb_id,opdb_id,ipd_id
0,2694,Rob Zombie's Spookshow International (LE),False,2016-08-05T17:52:19.366-07:00,2018-07-17T11:31:02.934-07:00,https://www.ipdb.org/machine.cgi?id=6417,2016,Spooky Pinball,58.0,6417.0,G5pp2-MBRK4,6417
1,676,Pirates of the Caribbean,False,None,2018-07-16T09:00:50.066-07:00,http://ipdb.org/machine.cgi?id=5163,2006,Stern,NaN,5163.0,GR7ZX-MQ23b,5163
2,1968,Challenger,False,2014-02-26T11:22:21.790-08:00,2018-07-16T09:00:41.586-07:00,http://ipdb.org/machine.cgi?id=483,1971,Gottlieb,NaN,483.0,G50L9-MDxXD,483
3,1679,City Slicker,False,2013-06-28T20:55:47.875-07:00,2018-07-16T09:00:41.673-07:00,http://ipdb.org/machine.cgi?id=527,1987,Bally,NaN,527.0,GrEVb-MLOxJ,527
4,727,Flash Gordon,False,None,2018-07-16T09:00:41.689-07:00,http://ipdb.org/machine.cgi?id=874,1980,Bally,NaN,874.0,G5728-MDbjD,874

In [26]:
machines.drop_duplicates(inplace=True)

In [28]:
machines.set_index('ipd_id', inplace=True)
machines.head()

,id,name,is_active,created_at,updated_at,ipdb_link,year,manufacturer,machine_group_id,ipdb_id,opdb_id
ipd_id,,,,,,,,,,,
6417,2694,Rob Zombie's Spookshow International (LE),False,2016-08-05T17:52:19.366-07:00,2018-07-17T11:31:02.934-07:00,https://www.ipdb.org/machine.cgi?id=6417,2016,Spooky Pinball,58.0,6417.0,G5pp2-MBRK4
5163,676,Pirates of the Caribbean,False,None,2018-07-16T09:00:50.066-07:00,http://ipdb.org/machine.cgi?id=5163,2006,Stern,NaN,5163.0,GR7ZX-MQ23b
483,1968,Challenger,False,2014-02-26T11:22:21.790-08:00,2018-07-16T09:00:41.586-07:00,http://ipdb.org/machine.cgi?id=483,1971,Gottlieb,NaN,483.0,G50L9-MDxXD
527,1679,City Slicker,False,2013-06-28T20:55:47.875-07:00,2018-07-16T09:00:41.673-07:00,http://ipdb.org/machine.cgi?id=527,1987,Bally,NaN,527.0,GrEVb-MLOxJ
874,727,Flash Gordon,False,None,2018-07-16T09:00:41.689-07:00,http://ipdb.org/machine.cgi?id=874,1980,Bally,NaN,874.0,G5728-MDbjD

In [29]:
all_scrape_data.set_index('ipd_id', inplace=True)
all_scrape_data.head()

        rating  flippers    units
ipd_id
6417       NaN       3.0     50.0
5163       8.0       NaN      NaN
483        NaN       NaN    110.0
527        NaN       5.0    300.0
874        8.0       3.0  10000.0

In [30]:
full_dataset = machines.join(all_scrape_data)
full_dataset.head()

,id,name,is_active,created_at,updated_at,ipdb_link,year,manufacturer,machine_group_id,ipdb_id,opdb_id,rating,flippers,units
ipd_id,,,,,,,,,,,,,,
2,1263,Abra Ca Dabra,False,2012-03-22T16:20:10.000-07:00,2018-07-16T09:00:52.050-07:00,http://ipdb.org/machine.cgi?id=2,1975,Gottlieb,NaN,2.0,GRpZ2-MkPyb,8.0,2.0,2825.0
7,1961,Ace High,False,2014-02-26T11:13:13.174-08:00,2018-07-16T09:00:53.787-07:00,http://ipdb.org/machine.cgi?id=7,1957,Gottlieb,NaN,7.0,GrlJ3-M2YvO,8.0,2.0,2100.0
11,821,Aces and Kings,False,None,2018-07-16T09:00:53.331-07:00,http://ipdb.org/machine.cgi?id=11,1970,Williams,NaN,11.0,G5oK2-M9R6y,6.0,2.0,4153.0
20,687,The Addams Family,False,None,2018-07-16T09:00:42.555-07:00,http://ipdb.org/machine.cgi?id=20,1992,Bally,55.0,20.0,G4ODR-MDXEy,8.0,4.0,20270.0
21,2514,The Addams Family Gold,None,2016-01-09T06:26:47.132-08:00,2018-07-16T09:00:45.008-07:00,http://ipdb.org/machine.cgi?id=21,1994,Bally,55.0,21.0,G4ODR-MLzY7,8.0,4.0,1000.0

In [31]:
full_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1090 entries, 2 to 6504
Data columns (total 14 columns):
id                  1090 non-null int64
name                1090 non-null object
is_active           809 non-null object
created_at          688 non-null object
updated_at          1090 non-null object
ipdb_link           1090 non-null object
year                1090 non-null int64
manufacturer        1090 non-null object
machine_group_id    100 non-null float64
ipdb_id             1090 non-null float64
opdb_id             1013 non-null object
rating              781 non-null float64
flippers            902 non-null float64
units               816 non-null float64
dtypes: float64(5), int64(2), object(7)
memory usage: 127.7+ KB

In [32]:
full_dataset.to_csv('pinball_data.csv')